:root {
  --primary-color: #FFFFFF;
  --secondary-color: #B2B2B2;
  --bg-black: #000000;
  --font-family: 'Poppins', sans-serif;
  --check-box-color: #3B3B3B;
  --input-border-color: #7F7F7F;
  --input-buttom-color: #8C8C8C;

  --white-key-gradient: linear-gradient(#FFFFFF 96%, #EEEEEE 4%);

  --bg-gradient-active-white-key: linear-gradient(to bottom, #FFFFFF 0%, #EEEEEE 100%);
  --white-key-box-shadow: rgba(0, 0, 0, 0.2);
 

  --black-key-gradient: linear-gradient(#333333, #000000);
  
  --black-key-box-shadow: linear-gradient(to bottom, #000000, #434343);
  --bg-black-key-active: rgba(0, 0, 0,1);
}